.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
    flex-direction: column;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    border: 2px solid black;
}

.header {
    font-size: 45px;
}

.gridBtn {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(235, 235, 235);
    transition: background-color 0.3s, transform 0.2s ease;
}

.gridBtn:hover {
    transform: scale(1.05);
}

.size-tag {
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 10px;
}
